@import "global";

body > footer {
	$dim-text: #757575;
	position: absolute;
	bottom: 0;
	left:   0;
	right:  0;
	height: $footer-Height;
	margin: 0;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: -1px;
		left:  0;
		right: 0;
		box-shadow: 0 1px 0 rgba(0,0,0,.25);
		z-index: 3;
		height: 1px;
		@include Retina { height: .5px; }
	}
	
	nav {
		padding: 0 1rem;
		height: 100%;
		padding-top: 1.5rem;
		position: relative;
	}
	
	svg.msEduLogo {
		#divider, 
		#education-text{ display: none; }
		#microsoft-text{ fill: $charcoalLight; }
		#Yellow-Square,
		#Blue-Square,
		#Red-Square,
		#Green-Square{ fill: $charcoalLight; }
	}
	
	
	
	ul{
		display: none;
		position: absolute;
		right: 1rem;
		font-size: 0;
		top: 0;
		padding: 0;
		margin: 0 -1.5rem 0 0;
		li{
			padding: 1.5rem 1.5rem;
			margin: 0;
			display: inline-block;
			a { color: $dim-text; }
		}
	}
}
