@import "global";
@import "utilities";

$size-icon-globe: 2.75rem;
$size-link-padding: 1.5rem;
$color-link-inactive: $charcoalRegular;
$color-link-hover:    $charcoalDark;


body > footer,
body > main > footer {
	
	.icon-svg,
	.icon-svg svg {
		height: $size-icon-globe;
		width:  $size-icon-globe;
	}
	
	.icon-svg {
		// Vertical centering
		position: absolute;
		top: 50%;
		margin-top: ($size-icon-globe/2 * -1);
	}

	a,
	a * {
		@include sm-font-legal();
		color: $color-link-inactive !important;
		fill: currentColor;
		&:hover{
			color: $color-link-hover !important;
		}
	}

	> nav {
		display: block;
		padding: $gutter-width $gutter-width-half;
		position: relative;

		// Language Link
		> small { 
			display: inline-block;
			position: relative;
			top: -.25rem;
			
			// Add space for globe
			span { 
				padding-left: $size-icon-globe + .5rem;
			}
		}
	}
	
	// Other Links
	nav > ul { 
		
		font-size: 0; // Remove extra space between links
		padding:   0;
		margin: 0 0 0 ($size-link-padding * -1);
		
		@include Medium {
			position: absolute;
			top:   $gutter-width-half;
			right: $gutter-width-half;
			margin: 0 ($size-link-padding * -1) 0 0; 
		}
		
		> li {
			padding: $size-link-padding;
			margin: 0;
			display: inline-block;
		}
	}
}
