@import "utilities";
@import "breakpoints";
@import "color";

/* Fix - remove uppercase formatting clones */


/* Base Units */

$unit: 8px;
$u:    $unit;

$gutter-width: 2rem;
$gutter-width-half: $gutter-width/2;

// Simple percentages
$percentTwelveth: 		 8.3333333333%;
$percentTenth: 			   10%;
$percentEighth: 			 12.5%;
$percentSixth:    		 16.666666667%;
$percentQuarter: 			 25%;
$percentThird:   			 33.333333333%;
$percentHalf:    			 50%;
$percentThreeQuarters: 75%;
$percentTwoThirds: 		 66.666666666%;

/* Column Widths */

$grid-column-width-s:     50%;
$grid-column-width-m:     25%;
$grid-column-width-m-h:   16.666666667%;
$grid-column-width-l:     12.5%;
$grid-column-width-l-q-f: 10%;
$grid-column-width-l-h:   8.3333333333%;
$grid-column-width-l-q-l: 7.1428571429%;
$grid-column-width-xl:    6.25%;


/* Cell Measurements */

$cell-Height: 4rem;
$cell-height: 4rem;
$cell-Margin:	2rem;
$cell-margin:	2rem;
$cell-HeightWithMargin: $cell-height + $cell-margin;
$cell-heightWithMargin: $cell-height + $cell-margin;

$cell-MarginInside:		$cell-margin;	// 2rem
$cell-marginInside:		$cell-margin;	// 2rem
$cellGroup-MarginTop: $cell-margin;	// 2rem
$cellGroup-marginTop: $cell-margin;	// 2rem

$cellGroup-HeightContent: ($cell-Height * 3) + ($cell-MarginInside * 2);		// 16rem
$cellGroup-heightContent: ($cell-height * 3) + ($cell-marginInside * 2);		// 16rem
$cellGroup-Height:        $cellGroup-HeightContent + $cellGroup-MarginTop;  // 18rem
$cellGroup-height:        $cellGroup-heightContent + $cellGroup-marginTop;  // 18rem

$section-MarginTop: 7rem;
$section-marginTop: 7rem;

/* General UI ELEMENTs */

$nav-Height:    $cell-height + $cell-margin;
$nav-height:    $cell-height + $cell-margin;
$footer-Height: $cell-height + $cell-margin;
$footer-height: $cell-height + $cell-margin;

$boo: 200;
$bar: 400;

/* 
$size-h
$size-w
$size-m-/t/b/r/l/h/v/a
$size-p-/t/b/r/l/h/v/a
*/