@import "global";
@import "type";

main > header {
	
	// Not used
	$groupHeight: $cell-HeightWithMargin + $cell-Margin;

	$hero-background-color: $purpleBrand;
	
	$topPadding:       $nav-Height;

	$height-sm: 			 $topPadding + 40rem;
	$height-md-h: 		 $topPadding + 50rem;
	$height-lg: 		   $topPadding + 72rem;
	$height-xl: 		   $topPadding + 130rem;
	
	$size-pad-top-sm:   $cell-HeightWithMargin * 2;
	$size-pad-top-md:   $cell-HeightWithMargin;
	$size-pad-top-md-h: $cell-HeightWithMargin * 2;
	$size-pad-top-lg:   $cell-Margin + $cell-HeightWithMargin * 2;
	$size-pad-top-xl:   $cell-Margin + $cell-HeightWithMargin * 3 + $cell-Height;
	
	$height-button-sm:    $cell-Margin * 2;
	$height-button-lg:    $cell-Margin * 3;
	
	$height-logo-sm:   $cell-Margin;
	$height-logo-md:   $cell-Margin * 2;
	$height-logo-md-h: $cell-Margin * 3;
	$height-logo-xl:   $cell-Margin * 4;
	
	$width-logo-md:    15rem;
	$width-logo-md-h:  22.5rem;
	
	$headline-adjustment-sm: -$height-logo-sm;
	$headline-adjustment-md: -$height-logo-sm / 1.5;

	$headline-margin-top-bs: $cell-Margin;
	$headline-margin-top-lg: $cell-HeightWithMargin;
	$headline-margin-top-xl: $cell-HeightWithMargin + $cell-Margin * 1.5;
	
	$headline-paragraph-spacing-bs:   0.125rem;
	$headline-paragraph-spacing-md-h: 0;
	$headline-paragraph-spacing-lg:   $cell-Margin;
	$headline-paragraph-spacing-xl:   0;
	
	$logo-parent-height-difference: .5rem;
	
	$paragraph-button-spacing-bs:   $cell-Margin * 1.5;
	$paragraph-button-spacing-md-h: $cell-Margin;
	$paragraph-button-spacing-lg: 	$cell-Margin * 1.5;
	$paragraph-button-spacing-xl: 	$cell-HeightWithMargin * 1.5;

	z-index: 1;
	position: relative;
	padding:  $topPadding 0 0 0;
	margin:   0;
	
	-webkit-transition: height .2 ease;
	        transition: height .2 ease;
	-webkit-font-smoothing: antialiased;
	
	min-height: $height-sm;
	//
	height: $height-sm;
	@include Medium-Half { height: $height-md-h; }
	@include Large       { height: $height-lg;   }
	@include XLarge      { height: $height-xl;   }

	&::before{ // Background Fill
		@include absoluteSnapPseudo($left: -1rem, $right: -1rem);
		background-color: $hero-background-color;
		z-index: -1;
	}

	> hgroup {
		box-sizing: content-box;
		display: block;
		font-size: 0 !important;
		color: $white;
		padding: 0 $gutter-width-half;
		//
		padding-top: $size-pad-top-sm;
		@include Medium      { padding-top: $size-pad-top-md;   }
		@include Medium-Half { padding-top: $size-pad-top-md-h; }
		@include Large       { padding-top: $size-pad-top-lg;   }
		@include XLarge      { padding-top: $size-pad-top-xl;   }
		
		> *,
		> * > * {
			display: inline-block;
			vertical-align: top;			
		}

		#hero-logo {
			//
			height: $height-logo-sm;
			@include Medium      { height: $height-logo-md;   }
			@include Medium-Half { height: $height-logo-md-h; }
			@include XLarge      { height: $height-logo-xl;   }
			
			svg {
				position: relative;
				width:  auto;
				margin-right: $gutter-width;

				// Adjust for odd Logo Sizes so they take up whole rows
				top: -($logo-parent-height-difference/2);
				@include Medium { top: 0; }

				// Set Height for SVG Image
				height: $height-logo-sm + $logo-parent-height-difference;
				@include Medium      { height: $height-logo-md;   }
				@include Medium-Half { height: $height-logo-md-h; }
				@include XLarge      { height: $height-logo-xl;   }
				
				// Android Fix
				@include Medium      { min-width: $width-logo-md;   }
				@include Medium-Half { min-width: $width-logo-md-h; }
			}
		}
		
		> h1 {
			position: relative;
			width: 100%;

// 			@include Small { font-size: 26px !important; }
			
			// For Slight Grid Adjustments
			top: $headline-adjustment-sm;
			@include Medium { top: $headline-adjustment-md; }

			// For paragraph spacing Adjustments
			margin-bottom: $headline-paragraph-spacing-bs;
			@include Medium-Half { margin-bottom: $headline-paragraph-spacing-md-h; }
			@include Large       { margin-bottom: $headline-paragraph-spacing-lg; }
			@include XLarge      { margin-bottom: $headline-paragraph-spacing-xl; }
			//
			margin-top: $headline-margin-top-bs;
			@include Large  { margin-top: $headline-margin-top-lg; }
			@include XLarge { margin-top: $headline-margin-top-xl; }
		}
		
		a{ -webkit-font-smoothing: subpixel-antialiased; }
		
		> p {
			position: relative;
			box-sizing: border-box;
			width: $percentHalf;
			margin: $cell-Margin 0 0 0;
			padding-right: $gutter-width-half;
			top: -.75rem;
			//
			display: none;
			@include Medium { display: block; }
			// Push The button away
			margin-bottom: $paragraph-button-spacing-bs;
			@include Medium-Half { margin-bottom: $paragraph-button-spacing-md-h; }
			@include Large       { margin-bottom: $paragraph-button-spacing-lg;   }
			@include XLarge      { margin-bottom: $paragraph-button-spacing-xl;   }
		}
		
		> strong {
			box-sizing: border-box;
			margin-top: 0;
			// 
			width: $percentHalf;
			padding-right: $gutter-width-half;
			@include Medium {
				width: $percentQuarter;
				padding-right: $gutter-width-half + $gutter-width-half * .55;
			}
			@include Medium-Half {
				width: $percentQuarter;
				padding-right: $gutter-width-half;
			}
			@include Large-Qtr-First {
				width: $percentEighth * 2;
				padding-right: $gutter-width * .75;				
			}
			
			@include Large-Half {
				width: $percentTenth * 2;
				padding-right: $gutter-width * .75;				
			}
			
			@include XLarge {
				width: $percentTwelveth * 2;
				padding-right: $gutter-width * .825;				
			}	
		}
		
		strong > a {

			width: 100%;
			overflow: hidden;
			box-sizing: border-box;
			padding: 0 1rem;
			text-align: center;
			text-decoration: none;
			box-shadow: inset 0 0 0 1px $white;
			//
			color: $hero-background-color;
			background-color: $white;
			@include Medium {
				color: $white;
				background-color: $hero-background-color;
			}
			//
			@include sm-font-legal();
			height:      $height-button-sm;
			line-height: $height-button-sm * .99 !important;
			
			@include Large {
				@include sm-font-body();
				height:      $height-button-lg;
				line-height: $height-button-lg * .99 !important;
				-webkit-font-smoothing: antialiased;
			}

			&:hover {
				text-decoration: none;
				// 
				color: $white;
				background-color: $hero-background-color;
				@include Medium {
					background-color: $white;
					color: $hero-background-color;			
				}
				
			}
		}
	}
	
/*

		
		> * {
			display: inline-block;
			min-height: $groupHeight;
			vertical-align: top;			
		}
		

		

		
		ul{
			//outline: 1px solid orange;
			padding-top: $cell-HeightWithMargin;
			display: block;
			color: black;
			position: relative;
			font-size: 0 !important;
			margin: 0 0;
			
			li{
				box-sizing: border-box;
				display: inline-block;
				height: $cell-HeightWithMargin;
				min-width: 25%;
				padding: 0 1rem;


				
				&.action  a,
				&.text    a { color: #fff; }
				&.account a { color: #C1C1C1; background-color: #fff; }
				&.action  a { box-shadow: inset 0 0 0 1px #fff; }
				&.text    a { opacity: .5; }
			}
		}
	}
*/
// 	.devices{ display: none; }
}

/* ******************************************************* */

/*
body.education > header {

	$height: ($cellGroup-Height * 3) + $nav-Height;
	
	height:     $height;
	min-height: $height;
	max-height: $height;
	
	text-align: left;

	// Fix - this makes it correct. Seems like the percentages are off	
	> div { padding-left: 2px; }

	h1 {
		margin-left:  0;
		margin-right: 0;
		@include Large { width: 51%; }

		padding-top: $nav-Height + 1rem;
		div{ display: block; }
	}
	
	p{
		margin-top: -.3rem;
		@include Large { width: 50%; }
		div{ display: block; }
	}
	
	.form {
		margin-top: 5rem;
		width: 50%;
		margin-left: 0;
		margin-right: 0;
		position: relative;
		top: -.3rem;
	}
	
	fieldset{
		width: 66.6666666666%;
		position: relative;
		height: 4rem;
	}

	input[type=email],
	input[type=button],
	button {
		position: absolute;
		top:     0;
		bottom:  0;
		padding: 0;
		-webkit-appearance: none;
		line-height: 2.75rem !important;
	}

	input[type=email] {
		right: 1.5rem;
		left: 0rem;
		outline: none;
		width: calc(100% - 1.5rem);	
		background-color: transparent;
		box-shadow: inset 0 -1px 0 0 #fff;
		&::-webkit-input-placeholder           { color: rgba(255,255,255,0.66); }
		&:hover { &::-webkit-input-placeholder { color: rgba(255,255,255,0.33); }}
	}
	
	input[type=button]{
		margin-left: 1rem;
		margin-left: .75rem;
		left: 100%;
		width: 10rem;
		text-align: center;
		background: $white;
		color: #7030a0;
		cursor: pointer;
		padding-bottom: .25rem;
	}
	
	figure {
		$position-adjust: 3rem;
		position: absolute;
		top: 0;
		padding: $nav-Height 0 0 0;
		left: 50%;
		right: -1rem;
		overflow: hidden;
		margin-left: -($position-adjust);
		
		&:hover {
			#Circle {
				stroke-dashoffset: 0;
			}
		}
		
		.imageContainer{
			height: 62rem;
			margin: 3rem 0 0 0;
			position: relative;
			width: 104rem;
		}
		
		img{
			width: auto;
			height: 62rem;
		}
		
		#inking #box {
			display: none;
		}
		
		#Circle {
			$length: 160;
			stroke-dasharray: $length, $length;
			stroke-dashoffset: $length;
			pointer-events: all;
			-webkit-transition: stroke-dashoffset .5s ease-out;
		}

		.drawOverlay {
			position: absolute;
			top:    0;
			left:   0;
			height: 62rem;
			width: 104rem;
		}
	}
}
*/



/* ******************************************************* */

/*
body > figure.color {
	margin-top: 5rem;
	padding: $gutter-width $gutter-width-half;
	font-size: 0px !important;
	
	h2 {}
	
	h3 {
		margin-top: 3rem;
		position: relative;
		min-height: 3rem;
		color: #999;
		&::before{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			background-color: #ccc;
		}
	}
	
	dl, dt, dd {
		margin:  0;
		padding: 0;
		vertical-align: top;		
	}	
	
	dl {
		font-size: 0px !important;
		padding-top: 4rem;
	}
	
	dt{
		display: inline-block;
		width:  33.33333333333334%;
		height: 12rem;
		color: #fff;
		text-indent: .5rem;
		text-transform: capitalize;
		position: relative;
		&.purpleBrand, &.purpleBrandDark, &.purpleBrandLight {
			width: 100%;
			& + dd { left: -100%; }
		}
		&.purpleBrand{
			height: 24rem;
		}
		&.purpleBrandDark, &.purpleBrandLight {
			height: 6rem;
		}
	}
	
	dd{
		box-sizing: border-box;
		display: inline-block;
		width:  0;
		height: 14rem;
		padding-top: 3rem;
		vertical-align: top;
		position: relative;
		left: -33.33333333333334%;
		text-indent: .5rem;
		padding-bottom: 8rem;
		color: #fff;
		
	}
	
	> p {
		width: 100%;
		@include Medium{ width: 50%; }
		display: inline-block;
		margin: 0;
		vertical-align: top;
		position: relative;
		box-sizing: border-box;
		padding-bottom: .75rem;
		padding-top: 2.25rem;
		&:first-child { top: -1rem; }
	}
	
	@include Medium {
		> p:nth-of-type(odd) { padding-right: 1rem;
			& + p              { padding-left:  1rem; }
		}		
	}	
}
*/








