@import "global";
@import "type";

$sizing-spacer-width: $gutter-width-half;

$height-button-sm:    $cell-Margin * 2;
$height-button-lg:    $cell-Margin * 3;

$hero-background-color: $purpleBrand;

$size-hero-height-sm:           38rem;
$size-hero-height-md-half:      56rem;
$size-hero-height-lg:           74rem;
$size-hero-height-lg-qtr-first: 92rem;
$size-hero-height-lg-half: 			110rem;
$size-hero-height-lg-qtr-last:  128rem;
$size-hero-height-xl:						146rem;

$size-hero-padding-bottom-sm: $cell-height + $cell-margin * 2;


////////////////////////////////////////////////////////////////////////////////
// 16:9 SIZING & LAYOUT ADJUSTMENTS

main > header:first-child {
	
	> hr { clear: both; }
	
	&::before {
		content: "";
		width: $sizing-spacer-width;
		margin-left: -$sizing-spacer-width;
		float: left;
		position: relative;
		
		@include Base { padding-top: 56.25%; }
		
		@include Large 						{ padding-top: 75.98684211%;  } // 1232
		@include Large-Qtr-First 	{ padding-top: 75.98684211%; 	} // 1536
		@include Large-Half 			{ padding-top: 75.98684211%;  }	// 1840
		@include Large-Qtr-Last  	{ padding-top: 75.98684211%;  }	// 2144
		@include XLarge						{ padding-top: 75.98684211%;  }	// 2448
		

		@include Large-Qtr-First 	{ background-color: red; } // 1536		
				
			
	}
	
}



main > header:first-child {
	
	padding: 0 $gutter-width-half;
	margin-top: $nav-height;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-align-items: center;
	     -ms-flex-align: center;
	        align-items: center;
	
	min-height: 0;
/*
	@include Medium-Half     { min-height: $size-hero-height-md-half;      }
	@include Large           { min-height: $size-hero-height-lg;           }
	@include Large-Qtr-First { min-height: $size-hero-height-lg-qtr-first; }
	@include Large-Half      { min-height: $size-hero-height-lg-half;      }
	@include Large-Qtr-Last  { min-height: $size-hero-height-lg-qtr-last;  }
	@include XLarge          { min-height: $size-hero-height-xl;           }
*/

	&::after{ background: $hero-background-color;	}
	
	> p,
	> hgroup > * { color: $white; }
	
	> hgroup {
		/* This avoids overflow and decent padding against the top and bottom edges */
		padding: $cell-heightWithMargin 0;
		
		h1 {
			white-space: nowrap;
			-webkit-font-smoothing: subpixel-antialiased;
			@include Hack-Before-Small-Qtr-First {
				font: $type-sm-Subhead $face-light !important;
			}			
			span {
				display: block;
				white-space: nowrap;
			}
			mark {
				background-color: transparent;
				color: inherit;
			}
		}
		
		// DOWNLOAD LINK ////////////////////////////////////////////////////////////
		
		> p.action {
			margin-top: $gutter-width;
			
			> a {
				$base-btn-size: 4rem;
				$base-btn-size-md-half: 6rem;
				
				padding: 0 $base-btn-size;
				background: $white;
				color: $hero-background-color;
				-webkit-font-smoothing: subpixel-antialiased;
				display: inline-block;
				box-sizing: border-box;
				
				height: $base-btn-size;
				line-height: $base-btn-size - .25rem !important;
				
				@include Medium-Half {
					height: $base-btn-size-md-half;
					line-height: $base-btn-size-md-half - .25rem !important;
				}
				
				&:hover {
					text-decoration: none;
					box-shadow: inset 0 0 0 1px $white;
					background: $hero-background-color;
					color: $white;
				}

				@include Medium-Half { &::after{ content: " the app"; } }
			}
		}
	}
	
	////////////////////////////////////////////////////////////////////////////////
	// Hero Background Image
	
	> figure,
	> figure svg { position: absolute; }
	
	> figure {
		$grid-width: 101%;
		
		padding: 0 $gutter-width-half;		
		overflow: hidden;
		z-index: -1;
		top:    0;
		bottom: 0;
		left:   50%;

		-webkit-transform: translate3d(-50%, 0, 0);
		
		width:  $grid-width;
		@include Large { width: $grid-width + 50%; }
		
		svg {
			top:    50%;
			left:   100%;
			width:  auto;
			transition: margin-left .5s ease-in-out;
			-webkit-transform: translate3d(-50%, -50%, 0);
			
			/* Adjust Horizontal position of grid */
			/* Be Careful here as we need to type fit things pretty tight on mobile */
			margin-left: -5rem;

			@include Small-Egt-First { margin-left: -12%;  } // 358
			@include Small-Qtr-First { margin-left: -12%;  } // 396
			@include Small-Egt-Third { margin-left: -16%;  } // 434
			@include Small-Half      { margin-left: -20%;  } // 472			
			@include Small-Qtr-Last  { margin-left: -24%;  } // 548
			@include Medium          { margin-left: -30%;  } // 624
			@include Medium-Qtr      { margin-left: -34%;  } // 776
			@include Medium-Half     { margin-left: -39%;  } // 928
			@include Large           { margin-left: -39%;  } // 1232
			@include Large-Qtr-First { margin-left: -41%;  } // 1536
			@include Large-Half      { margin-left: -43%;  } // 1840
			@include Large-Qtr-Last  { margin-left: -43%;  } // 2144
			@include XLarge          { margin-left: -44%;  } // 2144
						
			height: 112rem;
			-webkit-transform: translate3d(-50%, -50%, 0);
			
			@include Medium-Half { // 928
				height: 160rem;
				-webkit-transform: translate3d(-50%, -53%, 0);
			}
			
			@include Large { // 1232
				height: 200rem;
				-webkit-transform: translate3d(-50%, -53%, 0);
			}
			@include Large-Qtr-First { // 1536
				height: 250rem;
				-webkit-transform: translate3d(-50%, -52.825%, 0);
			}
			
			@include Large-Half { // 1840
				height: 290rem;
				-webkit-transform: translate3d(-50%, -52.45%, 0);
			}

			@include Large-Qtr-Last { // 2144
				height: 345rem;
				-webkit-transform: translate3d(-50%, -52%, 0);
			}
			
			@include XLarge { // 2448
				height: 345rem;
				-webkit-transform: translate3d(-50%, -52%, 0);
			}
		}
	}
}


/*
main > header .align-right{
	position: absolute;
	width: 33rem;
	height: 10rem;
	top: 50%;
	margin-top: -5rem;
	background-color: cyan;
	opacity: .2;
	z-index: 90;
	right: -1rem;
}

main > header .align-top {
	position: absolute;
	width: 4.5rem;
	height: 4.5rem;
	top: 0;
	background-color: cyan;
	opacity: .2;
	z-index: 90;
	right: 50%;
}

main > header .align-right,
main > header .align-top {
	display: none;
}
*/


/*
main > header::before{
	
	$ratio-multiplier: 1.6470588235;
	$bg-image-height-sm:      $size-hero-height-sm + 0rem;
	$bg-image-height-md-half: $size-hero-height-md-half + 4rem;
	
		z-index: -1;

		@include absoluteSnapPseudo($left: -$gutter-width-half, $right: -$gutter-width-half);
		
	background-image: url("/$/img/hero3x.png");
	background-repeat: no-repeat;
	
	@include Base {
		// 0
		background-size: ($bg-image-height-sm * $ratio-multiplier) $bg-image-height-sm;
		background-position: 33% 50%;
	}
	@include Small {
		// 320

	}
	@include Medium {
		// 624
		// background-position: 100% 50%;
	}
	@include Medium-Qtr {
		// 776
	}
	@include Medium-Half {
		// 928
		background-size: ($bg-image-height-md-half * $ratio-multiplier) $bg-image-height-md-half;
		background-position: 0% 100%;
	}
	
	@include Large {
		// 1232 
	}
	@include Large-Qtr-First {
		// 1536
	}
	@include Large-Half {
		// 1840
	}
	@include Large-Qtr-Last {
		// 2144
	}
	@include XLarge {
		// 2448
	}
}
*/