@import "global";
@import "type";

$sizing-spacer-width: $gutter-width-half;

$height-button-sm:    $cell-Margin * 2;
$height-button-lg:    $cell-Margin * 3;

$hero-background-color: $purpleBrand;

$size-hero-height-sm:           38rem;
$size-hero-height-md-half:      56rem;
$size-hero-height-lg:           74rem;
$size-hero-height-lg-qtr-first: 92rem;
$size-hero-height-lg-half: 			110rem;
$size-hero-height-lg-qtr-last:  128rem;
$size-hero-height-xl:						146rem;

$size-hero-padding-bottom-sm: $cell-height + $cell-margin * 2;

$size-video-volume: 4rem;

$base-btn-size: 4rem;
$base-btn-size-md-half: 6rem;


////////////////////////////////////////////////////////////////////////////////
// 16:9 SIZING & LAYOUT ADJUSTMENTS

main > header:first-child {
	
	> hr { clear: both; }
	
	&::before {
		content: "";
		width: $sizing-spacer-width;
		margin-left: -$sizing-spacer-width;
		float: left;
		position: relative;
		
		/* These are all approximated as they are just a fallback if Javascript fails */

		@include Base  						{ padding-top: 58.25%;  } // 0
		@include Large 						{ padding-top: 77.5%;   } // 1232
		@include Large-Qtr-First 	{ padding-top: 72%; 	  } // 1536
		@include Large-Half 			{ padding-top: 69%;     }	// 1840
		@include Large-Qtr-Last  	{ padding-top: 80.25%;  } // 2144
		@include XLarge						{ padding-top: 76.25%;  }	// 2448
	}
	
}

////////////////////////////////////////////////////////////////////////////////
// General Layout

main > header:first-child {
	
	padding: 0 $gutter-width-half;
	margin-top: $nav-height;
	
	position: relative;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-align-items: center;
	     -ms-flex-align: center;
	        align-items: center;
	
	min-height: 0;

	&::after{ background: $hero-background-color;	}
	
	> p,
	> hgroup > * { color: $white; }
	
	> hgroup {
		padding: $cell-heightWithMargin 0; // This avoids overflow and decent padding against the top and bottom edges */
		
		h1 {
			white-space: nowrap;
			@include font-smoothing(on);
			@include Hack-Before-Small-Qtr-First {
				font: $type-sm-Subhead $face-light !important;
			}			
			span {
				display: block;
				white-space: nowrap;
				@include font-smoothing(on);
			}
		}
		
		// DOWNLOAD LINK ////////////////////////////////////////////////////////////
			
		//> p.video, 
		> p.action{
			margin-top: $gutter-width;
			
			> a {
				@include roundedCorners();
				@include font-smoothing(off);
								
				display: inline-block;
				box-sizing: border-box;
				
				height: $base-btn-size;
				line-height: $base-btn-size - .25rem !important;
				
				@include Medium-Half {
					height: $base-btn-size-md-half;
					line-height: $base-btn-size-md-half - .125rem !important;
				}
				
				@include XLarge {
					line-height: $base-btn-size-md-half - .325rem !important;
				}
			}
		}
		
		/*
		> p.video {
			> a {
				padding: 0 $base-btn-size;
				@include buttonStyle($hero-background-color, $white);
			}
		}
		*/
		
		> p.action {
			> a {
				padding: 0 $base-btn-size;
				background: $white;
				color: $hero-background-color;
				@include buttonHoverChanges();

				// On Larger Sizes allow to prepend or append text
				@include Medium { 
					&::before{
						content: attr(data-text-prepend);
						@include font-smoothing(off);
					}
					&::after{
						content: attr(data-text-append);
						@include font-smoothing(off);
					}
				}
			}			
		}
	}
	


	////////////////////////////////////////////////////////////////////////////////
	// Hero Background Video
	
	> figure,
	> figure > .volume,
	> figure > .video {
		position: absolute;
	}
	
	> figure {

		$grid-width: 101%;
		$grid-width: 100%;
				
		padding: 0 $gutter-width-half;		
		overflow: hidden;

		top:    0;
		bottom: 0;
		left:   50%;
		
		background-image: url("/$/img/hero.png");
		background-size: auto 100%;
		background-position: center center;
		background-repeat: no-repeat;

		-webkit-transform: translate3d(-50%, 0, 0);
						transform: translate3d(-50%, 0, 0);
		
		width: $grid-width;
		@include Large { width: $grid-width + 50%; }
		
		> .volume {
			width:  5rem;
			height: 5rem;
			border-radius: 50%;
			background-color: rgba(0,0,0,.4);
			display: block;
			bottom: $gutter-width;
			left: $gutter-width;
			z-index: 100;
			pointer-events: all;
			cursor: pointer;
			
			&:hover{
				svg { fill: rgba(255,255,255,1); }
			}
			
			svg {
				fill: rgba(255,255,255,.75);
				width:  $size-video-volume;
				height: $size-video-volume;
				margin-left: .5rem;
				margin-top: .5rem;
			}
			
			svg.on { display: none; }
			
		}
		
		> .video {
			left:  -$gutter-width-half;
			right: -$gutter-width-half;
			top:    0;
			bottom: 0;
			background: $purpleBrand;
			display: block;
			
			iframe { pointer-events: none; }
			
		}
	}

	////////////////////////////////////////////////////////////////////////////////
	// STATES
	
	> figure > .video {

		opacity: 0;
		transition: opacity .5s ease-in 2s;
		
		&.visible {
			opacity: 1;	
		}
	}
	
	> figure > .volume {
		opacity: 0;
		transition: opacity .5s ease-in;
		
		&.visible {
			opacity: 1;
		}
		
		&.volumeOn { 
			.on { display: block; }
			.off{ display: none;  }
		}
	}
	
	> hgroup.content {
		opacity: 1;
		transition: opacity .5s ease-in;
		
		&.hidden{
			opacity: 0;
			pointer-events: none;
			transition: opacity .5s ease-out 1s;
		}
	}
}

	////////////////////////////////////////////////////////////////////////////////
	// DEBUG

main > header:first-child > .fullWidth.controls {
	width: 150%;
	height: 100px;
	position: absolute;
	z-index: 100;
	background: red;
	top: 0;
	left: 50%;
	display: none;
	-webkit-transform: translate3d(-50%, 0, 0);
					transform: translate3d(-50%, 0, 0);

	> .button{
		background: yellow;
		width:  100px;
		height: 100px;
		position: absolute;
		left: 50%;
	}

}



/*
	
		position: absolute;
		left: -$gutter-width-half;
		right: -$gutter-width-half;
		top:    0;
		bottom: 0;
		background: black;
		display: block;
		z-index: -100;
		overflow: hidden;
		display: none;
	}
	
		
	video {
		
		display: block;
		min-width: 102%;
		min-height: 102%;
    -webkit-transform: translateX(-1%) translateY(-1%);
            transform: translateX(-1%) translateY(-1%);
    z-index: -100;
    // background: url(polina.jpg) no-repeat;
    // background-size: cover;
	}
*/

/*
		svg {
			top:    50%;
			left:   100%;
			width:  auto;
			transition: margin-left .5s ease-in-out;
			-webkit-transform: translate3d(-50%, -50%, 0);
							transform: translate3d(-50%, -50%, 0);
			
			// Adjust Horizontal position of grid
			// Be Careful here as we need to type fit things pretty tight on mobile
			margin-left: -5rem;

			@include Small-Egt-First { margin-left: -12%;  } // 358
			@include Small-Qtr-First { margin-left: -12%;  } // 396
			@include Small-Egt-Third { margin-left: -16%;  } // 434
			@include Small-Half      { margin-left: -20%;  } // 472			
			@include Small-Qtr-Last  { margin-left: -24%;  } // 548
			@include Medium          { margin-left: -30%;  } // 624
			@include Medium-Qtr      { margin-left: -34%;  } // 776
			@include Medium-Half     { margin-left: -39%;  } // 928
			@include Large           { margin-left: -39%;  } // 1232
			@include Large-Qtr-First { margin-left: -41%;  } // 1536
			@include Large-Half      { margin-left: -43%;  } // 1840
			@include Large-Qtr-Last  { margin-left: -43%;  } // 2144
			@include XLarge          { margin-left: -44%;  } // 2144
						
			height: 112rem;
			-webkit-transform: translate3d(-50%, -50%, 0);
			
			@include Medium-Half { // 928
				height: 160rem;
				-webkit-transform: translate3d(-50%, -53%, 0);
			}
			
			@include Large { // 1232
				height: 200rem;
				-webkit-transform: translate3d(-50%, -53%, 0);
			}
			@include Large-Qtr-First { // 1536
				height: 250rem;
				-webkit-transform: translate3d(-50%, -52.825%, 0);
			}
			
			@include Large-Half { // 1840
				height: 290rem;
				-webkit-transform: translate3d(-50%, -52.45%, 0);
			}

			@include Large-Qtr-Last { // 2144
				height: 345rem;
				-webkit-transform: translate3d(-50%, -52%, 0);
			}
			
			@include XLarge { // 2448
				height: 345rem;
				-webkit-transform: translate3d(-50%, -52%, 0);
			}
		}
*/