@import "global";
@import "utilities";

body > header {
	
	position: relative;
	z-index: 2000;
	box-shadow: 0 -6rem 0 white;
	
	&::before {

		position: absolute;
		content: "";
		left:   -$gutter-width-half;
		right:  -$gutter-width-half;
		top:    0;
		bottom: 0;
		background-color: $charcoalMedium;
	}
	
	> nav {
		display: block;
		position: relative;
		padding-top:   1rem;
		padding-left:  1rem;
		padding-right: 1rem;

		height:         $nav-Height;
		max-height:     $nav-Height;
		margin-bottom: -$nav-Height;
		background-color: $clear;
		
		> h1,
		> h2 {
			display: inline-block;
			position: relative;
			vertical-align: top;
			> a {
				@include absoluteSnapPseudo(-1rem, 7rem, -1.5rem, 0);
				font-size: 0;
				color: $clear;
			}
			
			.logo.microsoft svg {
				color: #fff;
			}
		
			svg {
				display: block;
				height: 3rem;
				width: 28rem;
				margin-top: .5rem;
			}
		}
		
		ul {
			position: absolute;
			right: -1rem;
			@include Base   { top: 1rem; }
			@include XLarge { top: 0rem; }
			
			li {
				display: inline-block;
				
				a{
					padding: .3rem 2rem .7rem;
					text-decoration: none;
					color: $white;
					display: block;

					@include Large { 
						font-size: 2.25rem !important;
					}

					&:hover{ color: $charcoalLight; }
				}
			}
		}
	}
	
	&.sticky {
		
		> nav { padding-left:  2rem; }
		
		transition: all ease-out .2s;
		transform: translateY(0%);
		opacity: 1;
		
		&.hidden {
			transition: all ease-in .2s;
			opacity: 0;
			transform:translateY(-100%);
			pointer-events: none;
		}
		
		position: fixed;
		left:  0;
		right: 0;
		width: 100%;
		height: $nav-Height;
		z-index: 1000;
		box-shadow: 0 5px 10px rgba(0,0,0,.1);
		
		.logo.onenote svg { 
			fill: $purpleBrand;
			width: 11.25rem;
		}
		
		&::before {
			z-index: 0;
			background-color: rgba(255,255,255,1) !important;
			@include Base  { box-shadow: inset 0 -1px  0 rgba(0,0,0,.125); }
			@include Retina{ box-shadow: inset 0 -.5px 0 rgba(0,0,0,.125); }
		}

		ul {
			right: $gutter-width;
			
			> li > a {
				padding: .4rem 1.5rem .6rem;
				background-color: $purpleBrand;
				@include roundedCorners();
				@include buttonHoverChanges($white, $purpleBrand);
				@include font-smoothing(off);
				@media XLarge {
					line-height: 3rem !important;
				}
			}
		}
	}
	
}