@import "global";

body > header {
	
	position: relative;
	z-index: 2;
	
	&::before{
		position: absolute;
		content: "";
		left:   -$gutter-width-half;
		right:  -$gutter-width-half;
		top:    0;
		bottom: 0;
		background-color: $charcoalMedium;
	}
	

	> nav {
		display: block;
		position: relative;
		padding-top: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;

		height:         $nav-Height;
		max-height:     $nav-Height;
		margin-bottom: -$nav-Height;
		background-color: $clear;
		
		
		> h1{
			display: inline-block;
			position: relative;
			
			> a {
				@include absoluteSnapPseudo(-1rem, 7rem, -1.5rem, 0);
				font-size: 0;
				color: $clear;
			}
		
			svg {
				display: block;
				height: 3rem;
				width: 28rem;
				margin-top: .5rem;
			}
		}
		
		ul{
			position: absolute;
			right: -1rem;
			top: 1.5rem;
			
			li {
				display: inline-block;
				
				a{
					padding: 0 2rem;
					text-decoration: none;
					color: $white;
					@include Large { font-size: 2.25rem !important; }
					&:hover{ opacity: .5; }
				}
			}
		}
	}
}