@import "global";
@import "type";

////////////////////////////////////////////////////////////////////////////////

	$horzLine-height: 1px;
	
	$section-base-padding-top:         ($cell-Height*1) + ($cell-Margin*2); // 8rem
	$section-base-padding-top-Lg-Half: ($cell-Height*3) + ($cell-Margin*4); // 20rem
	
////////////////////////////////////////////////////////////////////////////////


main > section,
main > header {
	
	////////////////////////////////////////////////////////////////////////////////
	
	$headerCapFrameAdjust:   1.0rem;
	$headerCapFrameAdjustXl: $headerCapFrameAdjust;

	$h1CapFrameAdjust:       0.25rem;
	$h1CapFrameAdjustMd:     0.375rem;	
	$h1CapFrameAdjustXl:     1.625rem;

	$h2CapFrameAdjust:       0.0625rem;
	$h2CapFrameAdjustMd:     0.25rem;
	$h2CapFrameAdjustLg:     0.125rem;
	$h2CapFrameAdjustXl:     0.9375rem;

	$h4CapFrameAdjust:       0.75rem;
	$h4CapFrameAdjustXl:     1.25rem;
	
	$textCapFrameAdjust:     0.75rem;
	$textCapFrameAdjustXl:   1.4375rem;

	////////////////////////////////////////////////////////////////////////////////

	display:     block;
	position:    relative;
	text-align:  left;
	
	padding-top: $section-base-padding-top;
	@include Large-Half { padding-top: $section-base-padding-top-Lg-Half; }
	
	/* Fix - Tie these to some patterns / values */
	@include Large           { min-height: $cellGroup-HeightContent * 3;   }
	@include Large-Qtr-First { min-height: $cellGroup-HeightContent * 4;   }
	@include Large-Half 		 { min-height: $cellGroup-HeightContent * 4.5; }
	@include Large-Qtr-Last  { min-height: $cellGroup-HeightContent * 5.5; }
	@include XLarge          { min-height: $cellGroup-HeightContent * 6.5; }
	
	p, small, h1, h2, h3, h4, h5, h6, header, hgroup, ul, ol {
		display: block;
		box-sizing: border-box;
		margin:  0;
		padding: 0;
		position: relative;
	}
	
	p strong > a { display: inline-block; }
	
	> p,
	> header,
	> hgroup {
		@include Medium          { padding-right: 8rem; }
		@include Medium-Half     { width: 50.0%; }
		@include Large           { padding-right: 3rem; }
		@include Large-Qtr-Last  { padding-right: 10%;  }
	}
	
	@include Medium-Half{
		&.text-right > p, 
		&.text-right > header{
			margin-left: 50%;
			left: $gutter-width-half;
		}
	}
	
	> header,
	> hgroup {
		margin-top:           -$headerCapFrameAdjust;
		padding-bottom: 2rem + $headerCapFrameAdjust;
		
		@include XLarge {
			margin-top:           -$headerCapFrameAdjustXl;
			padding-bottom: 6rem + $headerCapFrameAdjustXl;
		}
		
		h1 {
			@include Base    { top: -$h1CapFrameAdjust;   }
			@include Medium  { top: -$h1CapFrameAdjustMd; }
			@include XLarge  { top: -$h1CapFrameAdjustXl; }
		}
		
		h2 {
			@include Base   { top:  $h2CapFrameAdjust;   }
			@include Medium { top: -$h2CapFrameAdjustMd; }
			@include Large  { top: -$h2CapFrameAdjustLg; padding-bottom: $h2CapFrameAdjustLg; }
			@include XLarge { top: -$h2CapFrameAdjustXl; padding-bottom: 0; }
		}
	}
	
	h4 {
		margin-top:    -$h4CapFrameAdjust;
		padding-bottom: $h4CapFrameAdjust;
	}
	
	> p,
	> ul > li > p {
		
		margin-top:    -$textCapFrameAdjust;
		padding-bottom: $textCapFrameAdjust + 2rem;
		
		@include XLarge {
			margin-top:           -$textCapFrameAdjustXl;
			padding-bottom: 6rem + $textCapFrameAdjustXl;
		}
		
		&:last-of-type { padding-bottom: $textCapFrameAdjust + 3rem; }

		> strong a{
			position: relative;
			&::after  { content: " >" }
			&::before {
				content: "";
				position: absolute;
				top:    -1rem;
				left:   -1rem;
				right:  -1rem;
				bottom: -1rem;
			}
		}
	}
	
	////////////////////////////////////////////////////////////////////////////////
	
	> figure {
		
		position: relative;
		box-sizing: content-box;
		margin:  0 -$gutter-width;
		padding: 0;
		overflow: hidden;
		
		$base-width: 50%;
		
		$width-l:     $base-width + $grid-column-width-m-h;
		$width-l-q-f: $base-width + $grid-column-width-l;
		$width-l-h:   $base-width + $grid-column-width-l-q-f;
		$width-l-q-l: $base-width + $grid-column-width-l-q-f * 2;
		$width-xl:    $base-width + $grid-column-width-l-h   * 2;
		
		@include Medium-Half     { width: $base-width;  }
		@include Large           { width: $width-l;     }
		@include Large-Qtr-First { width: $width-l-q-f; }
		@include Large-Half      { width: $width-l-h;   }
		@include Large-Qtr-Last  { width: $width-l-q-l; }
		@include XLarge          { width: $width-xl;    }


		@include Medium-Half {
			position: absolute;
			top:     0;
			bottom:  $gutter-width-half;
			right:  -$gutter-width-half;
			padding: 0 $gutter-width-half;
			margin:  0;
		}
		
		@include Large {
			left:  50%;
			right: 0;
			padding: 0 1rem 0 0;
		}
		
		&::before,
		&::after { display: block; }
		
		// Make the Figure set to the correct aspect ratio
		
		&::before {
			// Aspect ratio of 
			content:"";
			box-sizing: border-box;
			width: 100%;
			padding-top: 75%;
		}
		
		&::after{
			z-index: 1;
			@include absoluteSnapPseudo();

			background-color: $cyan;
			
			@include Medium          { background-color: $green;  }
			@include Medium-Qtr      { background-color: $teal;  }
			@include Medium-Half     { background-color: $redChalk; }
			@include Large           { background-color: $blueMist; }
			@include Large-Qtr-First { background-color: $apple;    }
			@include Large-Half      { background-color: $yellow;   }
			@include Large-Qtr-Last  { background-color: $orange;   }
			@include XLarge          { background-color: $lemon;    }
			
			@include Large { left: 1rem; }
		}
		
		// This is used for a quick check of the height
		&.State-SizeCheck { height: auto !important; }
		
		img {
			position: absolute;
			display: block;
			width:  100%;
			height: 100%;
			top:  0;
			left: 0;
			z-index: 2;
			object-fit: cover;
			mix-blend-mode: multiply;
			
			@include Large { left: 1rem;  }
		}
	}
	
	&.text-right > figure {
		@include Medium-Half {
			left:  -$gutter-width;
			right: 50%;
			padding: 0 1rem 0 0;
		}
		@include Large {
			display: none;
		}
	}
}

////////////////////////////////////////////////////////////////////////////////
// Full Bleed Color Background

main > header,
main > section.full-bleed-color {
	
	&::after {
		
		z-index: -2;

		@include absoluteSnapPseudo($left: -$gutter-width-half, $right: -$gutter-width-half);
		
		@include Large {
			margin-left:  -$gutter-width-half;
			margin-right: -$gutter-width-half;
			left:  -$percentSixth;
			right: -$percentSixth;
		}
		
		@include Large-Qtr-First{
			left:  -$percentEighth;
			right: -$percentEighth;
		}
		
		@include Large-Half{
			left:  -$percentTenth;
			right: -$percentTenth;
		}
		
		@include Large-Qtr-Last{
			left:  -$percentTenth * 2;
			right: -$percentTenth * 2;
		}
		
		@include XLarge{
			left:  -$percentSixth;
			right: -$percentSixth;
		}
	}
}
main > section.full-bleed-color::after {
	background: $greyLight;
}
////////////////////////////////////////////////////////////////////////////////
// Full Bleed Color Background

////////////////////////////////////////////////////////////////////////////////
// Horizontal Rule

main > section.horizontal-rule-bottom,
main > section.horizontal-rule-top {
	
	&::after {
		content: "";
		position: absolute;
		height: $horzLine-height;
		left:   -$gutter-width-half;
		right:  -$gutter-width-half;
		box-shadow: 0 $horzLine-height 0 rgba(0,0,0,.25);
		z-index: 3;
		@include Retina { height: $horzLine-height / 2; }
		@include Large  { left: $gutter-width-half; right: $gutter-width-half; }
	}
}

main > section.horizontal-rule-bottom::after { bottom: $horzLine-height; }
main > section.horizontal-rule-top::after    { top:    $horzLine-height; }


////////////////////////////////////////////////////////////////////////////////
// Unused


/*
	ul.columns-thirds {
		$adjust-middle: 2rem;
		$adjust-last:   4rem;
		font-size: 0 !important;
		padding-right: $adjust-last;
		
		li {
			display: inline-block;
			width: 33.333333333%;
			
			& + li      { margin: 0 (-$adjust-middle) 0 $adjust-middle; }
			& + li + li { margin: 0 (-$adjust-last  ) 0 $adjust-last;   }
		}
	}
*/
