@import "global";
@import "type";

body > section {

	display:     block;
	position:    relative;
	text-align:  left;
	padding-top: $cell-Height + $cell-MarginInside * 2;
	
	background-size: 0 0;
	background-repeat: no-repeat;
	
	&.grey {  }
	
	@include Medium      { min-height: $cellGroup-Height * 3; }
	@include Medium-Half { background-color: blue; }
	
	p, small, h1, h2, h3, h4, h5, h6, header {
		display: block;
		box-sizing: border-box;
		margin:  0;
		padding: 0;
	}
	
	p strong > a { display: inline-block; }

	// HORIZONTAL LINE
	
	&::before {
		content: "";
		position: absolute;
		bottom: 1px;
		left:  -1rem;
		right: -1rem;
		box-shadow: 0 1px 0 rgba(0,0,0,.25);
		z-index: 3;
		height: 1px;
		@include Retina { height: .5px; }
		@include Medium { /* left: 1rem; right: 1rem; */ }
	}
	
	&.grey::before{
		bottom: 0;
		top:    0;
		height: auto;
		background-color: #E8ECED !important;
		z-index: -1;
		box-shadow: none;
	}
	
	> header {
		
		$capFrameAdjust: 1rem;
		margin-top: -$capFrameAdjust;

		/* Fix - Move out to responsive type */
		padding-bottom: 2rem + $capFrameAdjust;
		
		h2 {
			@include Medium {
				$capFrameAdjust: 2px;
				position: relative;
				top: -$capFrameAdjust;			
			}
		}
	}
	
	> p {
		$capFrameAdjust: .75rem;
		margin-top:    -$capFrameAdjust;
		padding-bottom: $capFrameAdjust + 2rem;
		outline: 1px solid blue;

		> strong a{
			position: relative;
			&::after { content: " >" }
			&::before {
				content: "";
				position: absolute;
				top:    -1rem;
				left:   -1rem;
				right:  -1rem;
				bottom: -1rem;
			}
		}
	}
	
	> p,
	> header {
		@include Medium { width: 50.0%; padding-right: 1rem; }
	}

	&.inking > figure {
		
		$top-space: 1rem;
		$top-space-Medium: 0;
		$padding-adjust: $gutter-width;

		position:   relative;
		display:    block;
		box-sizing: padding-box;
		
		height:  ($cellGroup-HeightContent * 3) + ($cellGroup-MarginTop * 2);
		left:    -($padding-adjust);
		padding: $top-space $padding-adjust 0 $padding-adjust;
		top:     0;
		width:   100%;
		background-color: rgba(0,0,0,.5);
		
		@include Medium {
			position: absolute;
			width: auto;
			height: auto;
			left: 50%;
			right:   -1rem;
			bottom:  0;
			padding: 0;
			margin-left: -1rem;
			overflow: hidden;
		}

		> span {
			position: absolute;
			top:    $top-space;
			left:   0;
			right:  0;
			bottom: 0;
			// background-color: green;
			
			@include Medium {
				top: $top-space-Medium;
			}
			
			&.primary{ background-repeat: no-repeat; }
			
			&.primary   {
				z-index: 2;
				background-size: 50% auto;
				background-position: center 6rem;
				
				@include Medium {
				left: 50%;
				margin-left: -1rem;
				top: 12rem;
				background-size: 236px auto; /* Could this be fluid ? */
				background-size: 115% auto;
				background-position: left top;
				}
			}
		}
		
		img { display: none !important; }

	}


	&.phone > figure {
		
		$top-space: 1rem;
		$top-space-Medium: 0;
		$padding-adjust: $gutter-width;

		position:   relative;
		display:    block;
		box-sizing: padding-box;
		
		height:  ($cellGroup-HeightContent * 2) + $cellGroup-MarginTop;
		left:    -($padding-adjust);
		padding: $top-space $padding-adjust 0 $padding-adjust;
		top:     0;
		width:   100%;
		// background-color: blue;
		
		@include Medium {
			position: absolute;
			width: auto;
			height: auto;
			left: 50%;
			right:   -1rem;
			bottom:  0;
			padding: 0;
			margin-left: -1rem;
			overflow: hidden;
		}

		> span {
			position: absolute;
			top:    $top-space;
			left:   0;
			right:  0;
			bottom: 0;
			// background-color: green;
			
			@include Medium {
				top: $top-space-Medium;
			}
			
			&.primary,
			&.secondary { background-repeat: no-repeat; }
			
			&.primary   {
				z-index: 2;
				background-size: 50% auto;
				background-position: center 6rem;
				
				@include Medium {
				left: 50%;
				margin-left: -1rem;
				top: 12rem;
				background-size: 236px auto; /* Could this be fluid ? */
				background-size: 115% auto;
				background-position: left top;
				}
			}
			
			&.secondary {
				z-index: 1;
				background-size: cover;
				background-position: center top;
				
				@include Medium { 
					left: 50%;
					margin-left: 0;
					top: 8rem;
					background-size: 0 0;
					&::before{
						position: absolute;
						content: "";
						top: 0;
						width: 300%;
						-webkit-transform: translateX(-33.333333333%);
						bottom: 0;

						background-image: inherit;
						background-position: 2rem top;
						background-size: auto 380px;
						background-size: 81% auto;
						background-repeat: no-repeat;
					}
					/*
					background-position: left 8rem;
					background-size: cover;
					*/
				}
				
			}
		}
		
		img { display: none !important; }

	}
	
}








	
// 	&.phone::after {
		
/*
		box-shadow: inset 0 0 0 1px rgba(0,0,0,.33);
		$padding-adjust: $gutter-width;
	
		content: "";
		display: block;

		height: ($cellGroup-HeightContent * 2) + $cellGroup-MarginTop;
		margin: 0 0 0 -2rem;
		width:  100%;
		padding: 0 $padding-adjust;
*/
// 		margin: $cellGroup-MarginTop 0 0 ($padding-adjust * -1);	
/*
		background-image:    inherit;
		background-position: center 6rem, center top;
		background-size:     cover;
		background-repeat:   no-repeat;
		box-sizing:          padding-box;
*/
		
/*
		@include Medium {

			width: 50.0%;
			position: absolute;
			right: 0;
			top:    0;
			bottom: 0;
			margin-top: 0;
			height: auto;
			background-position: -5.5rem top;
			
			background-size: 640px auto;
			padding: 0;
		}
		
		@include Large {
				width: 66.666666668%;
				background-position: center top;
				margin-left: 50%;
				right: auto;
		}
*/
// 	}





/*
section.hero{
	margin-top:  -1rem;
	padding-top: 13rem;
	height: 78rem;
	background-color: transparent;
	*{ color: #fff !important; }
	
	&::before,
	&::after{ display: none; }
	
	h1{ max-width: 100%; }
}

section{
	
	&::before,
	&::after{
		position: absolute;
		content: "";
		top:    0;
		bottom: 0;
		background-color: #fff;
		z-index: -1;
		width: 50%;
	}
	
	&::before{  left: -1rem; padding-left:  1rem; }
	&::after { right: -1rem; padding-right: 1rem; }
	
	
	p, h1, h2, h3, h4, h5, h6, small{
		display: block;
		box-sizing: border-box;
	}
	
	@include Medium {	
		p, h1, h2, h3, h4, h5, h6{
			max-width: 50%;
			padding-right: 1rem;
		}
		&.right{
			padding-left: 16.666666667% * 3;
			p, h1, h2, h3, h4, h5, h6{
				max-width: 100%;
				padding-left:  1rem;
				padding-right: 0;
			}
		}
	}

	@include Large {
		&::before,
		&::after{
			width: 16.666666667% * 4;
		}		
		&::before{
			left: -16.666666667%;
			margin-left: -1rem;
			padding-left: 1rem;
		}
		&::after{
			right: -16.666666667%;
			margin-right: -1rem;
			padding-right: 1rem;
		}
		&.right{ padding-left: 12.5% * 3; }
	}
	
	a{
		margin-top: 1rem;
		display: inline-block;
		font-weight: 500 !important;
		text-decoration: none;
		color: #5B2D91;
	}

}

section.insert {
	&::before,
	&::after{
		background-color: #E8ECED;
	}
	
}
*/
