@import "breakpoints";
@import "color";
@import "global";

/******************************************************************************/
/* Font Faces */

/*
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 700;
  src: local('Segoe UI Bold'), local('SegoeUI-bold'), local('segoeuib');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 600;
  src: local('Segoe UI Semibold'), local('SegoeUI-Semibold');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe UI'), local('SegoeUI');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe UI Light'), local('SegoeUI-Light');
}
*/

$face-backups: 'Helvetica Neue', -apple-system, Roboto, Helvetica, sans-serif;
$face-regular: 'Segoe UI', Segoe, 'Segoe WP', $face-backups;
$face-light:   'Segoe UI Semilight', 'Segoe UI Light', 'Segoe WP Light', $face-regular;

/* Fix - Add in weight classes to font-face declarations */

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI'), local('SegoeUI'), url('/$/font/segoeui.ttf') format('truetype');
}

@font-face {
	font-family: 'Segoe UI Semilight';
	src: local('Segoe UI Light'), local('SegoeUI-Light'), url('/$/font/segoeuisl.ttf') format('truetype');
}

/******************************************************************************/
/* Type Sizing */

// Weights 

$light:   200;
$regular: 400;

// LineHeight / Kerning

$type-xl-Headline-lineHeight: 10rem;
$type-lg-Headline-lineHeight: 6rem;
$type-md-Headline-lineHeight: 6rem;
$type-sm-Headline-lineHeight: 5rem;

$type-xl-Subhead-lineHeight: 8rem;
$type-lg-Subhead-lineHeight: 5rem;
$type-md-Subhead-lineHeight: 5rem;
$type-sm-Subhead-lineHeight: 4rem;

$type-xl-SubheadSmall-lineHeight: 4rem;
$type-lg-SubheadSmall-lineHeight: 3rem;
$type-md-SubheadSmall-lineHeight: 3rem;
$type-sm-SubheadSmall-lineHeight: 3rem;

$type-xl-BodySmall-lineHeight: 4rem;
$type-lg-BodySmall-lineHeight: 3rem;
$type-md-BodySmall-lineHeight: 3rem;
$type-sm-BodySmall-lineHeight: 3rem;

$type-xl-Body-lineHeight: 5rem;
$type-lg-Body-lineHeight: 3rem;
$type-md-Body-lineHeight: 3rem;
$type-sm-Body-lineHeight: 3rem;

$type-xl-Legal-lineHeight: 3rem;
$type-lg-Legal-lineHeight: 2rem;
$type-md-Legal-lineHeight: 2rem;
$type-sm-Legal-lineHeight: 2rem;


// Headline

$type-xl-Headline: 			$light 		8.00rem / #{$type-xl-Headline-lineHeight};
$type-lg-Headline: 			$light 		5.25rem / #{$type-lg-Headline-lineHeight};
$type-md-Headline: 			$light 		5.25rem / #{$type-md-Headline-lineHeight};
$type-sm-Headline: 			$light 		4.25rem / #{$type-sm-Headline-lineHeight};

// Subhead

$type-xl-Subhead: 			$light 		7.00rem / #{$type-xl-Subhead-lineHeight};
$type-lg-Subhead: 			$light 		4.25rem / #{$type-lg-Subhead-lineHeight};
$type-md-Subhead: 			$light 		4.00rem / #{$type-md-Subhead-lineHeight};
$type-sm-Subhead: 			$light 		3.25rem / #{$type-sm-Subhead-lineHeight};

// Subhead Small

$type-xl-SubheadSmall: 	$light		3.00rem / #{$type-xl-SubheadSmall-lineHeight};
$type-lg-SubheadSmall: 	$regular	2.00rem / #{$type-lg-SubheadSmall-lineHeight};
$type-md-SubheadSmall: 	$regular	2.00rem / #{$type-md-SubheadSmall-lineHeight};
$type-sm-SubheadSmall: 	$regular	2.00rem / #{$type-sm-SubheadSmall-lineHeight};

// Body Small

$type-xl-BodySmall:    	$light		3.00rem / #{$type-xl-BodySmall-lineHeight};
$type-lg-BodySmall:    	$regular 	2.00rem / #{$type-lg-BodySmall-lineHeight};
$type-md-BodySmall:    	$regular 	2.00rem / #{$type-md-BodySmall-lineHeight};
$type-sm-BodySmall:    	$regular 	2.00rem / #{$type-sm-BodySmall-lineHeight};

// Body

$type-xl-Body:         	$light 		3.50rem / #{$type-xl-Body-lineHeight};
$type-lg-Body:         	$light 		2.25rem / #{$type-lg-Body-lineHeight};
$type-md-Body:         	$light 		2.25rem / #{$type-md-Body-lineHeight};
$type-sm-Body:         	$regular 	2.25rem / #{$type-sm-Body-lineHeight};

// Legal

$type-xl-Legal:        	$regular  2.00rem / #{$type-xl-Legal-lineHeight};
$type-lg-Legal:        	$regular  1.50rem / #{$type-lg-Legal-lineHeight};
$type-md-Legal:        	$regular 	1.50rem / #{$type-md-Legal-lineHeight};
$type-sm-Legal:        	$regular 	1.50rem / #{$type-sm-Legal-lineHeight};


/******************************************************************************/
/* Base Sizes */

$type-base-Headline:     $type-sm-Headline;				// 34px
$type-base-Subhead:      $type-sm-Subhead;				// 26px
$type-base-Body:         $type-sm-Body;						// 18px
$type-base-SubheadSmall: $type-sm-SubheadSmall;		// 16px
$type-base-BodySmall:    $type-sm-BodySmall;			// 16px
$type-base-Legal:        $type-sm-Legal;					// 12px

/******************************************************************************/
/* Font Size Settings  */

$font-xl-Headline: 			$type-xl-Headline			$face-light;
$font-lg-Headline: 			$type-lg-Headline			$face-light;
$font-md-Headline: 			$type-md-Headline			$face-light;
$font-sm-Headline: 			$type-sm-Headline			$face-light;

$font-xl-Subhead:				$type-xl-Subhead			$face-light;
$font-lg-Subhead:				$type-lg-Subhead			$face-light;
$font-md-Subhead:				$type-md-Subhead			$face-light;
$font-sm-Subhead:				$type-sm-Subhead			$face-light;

$font-xl-SubheadSmall: 	$type-xl-SubheadSmall	$face-light;
$font-lg-SubheadSmall: 	$type-lg-SubheadSmall	$face-regular;
$font-md-SubheadSmall: 	$type-md-SubheadSmall	$face-regular;
$font-sm-SubheadSmall: 	$type-sm-SubheadSmall	$face-regular;

$font-xl-BodySmall:			$type-xl-BodySmall		$face-light;
$font-lg-BodySmall:			$type-lg-BodySmall		$face-regular;
$font-md-BodySmall:			$type-md-BodySmall		$face-regular;
$font-sm-BodySmall:			$type-sm-BodySmall		$face-regular;

$font-xl-Body: 					$type-xl-Body 				$face-light;
$font-lg-Body: 					$type-lg-Body 				$face-light;
$font-md-Body: 					$type-md-Body 				$face-light;
$font-sm-Body: 					$type-sm-Body 				$face-regular;

$font-xl-Legal:					$type-xl-Legal				$face-regular;
$font-lg-Legal:					$type-lg-Legal				$face-regular;
$font-md-Legal:					$type-md-Legal				$face-regular;
$font-sm-Legal:					$type-sm-Legal				$face-regular;

/******************************************************************************/
/* Type Defaults */

$font-base-Headline:     $font-sm-Headline;
$font-base-Subhead:      $font-sm-Subhead;
$font-base-SubheadSmall: $font-sm-SubheadSmall;
$font-base-BodySmall:    $font-sm-BodySmall;
$font-base-Body:         $font-sm-Body;
$font-base-Legal:        $font-sm-Legal;

/******************************************************************************/
/* DEFAULTS */

/* Base Backup */

	body        { font: $font-base-Body;                    * { font: $font-base-Body !important; }}
	
	h1          { font: $font-base-Headline     !important; * { font: inherit     !important; }}
	h2          { font: $font-base-Subhead      !important; * { font: inherit     !important; }}
	h3          { font: $font-base-SubheadSmall !important; * { font: inherit     !important; }}
	h4          { font: $font-base-Body         !important; * { font: inherit     !important; }}
	
	p           { font: $font-base-Body         !important; * { font: inherit     !important; }}
	p > small   { font: $font-base-BodySmall    !important; * { font: inherit     !important; }}
	
	small,
	small.legal { font: $font-base-Legal        !important; * { font: inherit     !important; }}

					
@include Medium {
	body        { font: $font-md-Body;                    * { font: $font-md-Body !important; }}
	
	h1          { font: $font-md-Headline     !important; * { font: inherit       !important; }}
	h2          { font: $font-md-Subhead      !important; * { font: inherit       !important; }}
	h3          { font: $font-md-SubheadSmall !important; * { font: inherit       !important; }}
	h4          { font: $font-md-Body         !important; * { font: inherit       !important; }}
		
	p           { font: $font-md-Body         !important; * { font: inherit       !important; }}
	p > small   { font: $font-md-BodySmall    !important; * { font: inherit       !important; }}
	
	small,
	small.legal { font: $font-md-Legal        !important; * { font: inherit       !important; }}	
}

@include Large {
	body        { font: $font-lg-Body;                    * { font: $font-lg-Body !important; }}
	
	h1          { font: $font-lg-Headline     !important; * { font: inherit       !important; }}
	h2          { font: $font-lg-Subhead      !important; * { font: inherit       !important; }}
	h3          { font: $font-lg-SubheadSmall !important; * { font: inherit       !important; }}
	h4          { font: $font-lg-Body         !important; * { font: inherit       !important; }}	

	p           { font: $font-lg-Body         !important; * { font: inherit       !important; }}
	p > small   { font: $font-lg-BodySmall    !important; * { font: inherit       !important; }}
	
	small,
	small.legal { font: $font-lg-Legal        !important; * { font: inherit       !important; }}	
}

@include XLarge {
	body        { font: $font-xl-Body;                    * { font: $font-xl-Body !important; }}
	
	h1          { font: $font-xl-Headline     !important; * { font: inherit       !important; }}
	h2          { font: $font-xl-Subhead      !important; * { font: inherit       !important; }}
	h3          { font: $font-xl-SubheadSmall !important; * { font: inherit       !important; }}
	h4          { font: $font-xl-Body         !important; * { font: inherit       !important; }}
		
	p           { font: $font-xl-Body         !important; * { font: inherit       !important; }}
	p > small   { font: $font-xl-BodySmall    !important; * { font: inherit       !important; }}
	
	small,
	small.legal { font: $font-xl-Legal        !important; * { font: inherit       !important; }}	
}


h4 { color: $black; }

body *.monospace,
body *.monospace *{
	font-family: monospace !important;
}
