@import "global";
@import "type";

/*
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}
*/

/*
@function cellGroup($number) {
	$value
}
*/

/* LAYOUT */


@mixin absoluteSnapPseudo($top:false, $right:false, $bottom:false, $left:false) {
	@if $top    { top:    $top;    } @else { top:    0; }
	@if $right  { right:  $right;  } @else { right:  0; }
	@if $bottom { bottom: $bottom; } @else { bottom: 0; }
	@if $left   { left:   $left;   } @else { left:   0; }
	position: absolute;
	content: "";
}

/* DEBUG */

@mixin outline($color: gold) { outline: 1px solid $color; }

/* FONT */

@mixin sm-font-h1()        { font: $font-base-Headline     !important; }
@mixin sm-font-h2()        { font: $font-base-Subhead      !important; }
@mixin sm-font-h3()        { font: $font-base-SubheadSmall !important; }
@mixin sm-font-h4()        { font: $font-base-Body         !important; }
@mixin sm-font-body()      { font: $font-base-Body         !important; }
@mixin sm-font-bodySmall() { font: $font-base-BodySmall    !important; }
@mixin sm-font-legal()     { font: $font-base-Legal        !important; }