@import "global";
@import "type";

body > header {
		padding-top: 1rem;
		position: relative;
		
		> h1 {

			min-height: $cellGroup-Height;
			padding: 0 1rem;
			
			@include Medium { padding-top: 6rem; }
			@include Large  { /* We may want this margin-top: -.5rem !important; */ }
			@include XLarge {

				padding-top: $cellGroup-Height - 1rem;
				min-height:  $cellGroup-Height * 2;
			}
		}
		
		&::before {
			content: "";
			position: absolute;
			top:   -8rem;
			left:  -1rem;
			right: -1rem;
			bottom: 0rem;
			z-index: -1;
			background-color: $purple;
		}
		
		div {
			@include Large  { width: 12.5% * 6;  }
			@include XLarge { width: 6.25% * 12; }

			z-index: 1;
			position: relative;
			box-sizing: border-box;
			margin: 1rem auto 0 auto;

			height: $cellGroup-Height   * 2 - 2rem;
			
			@include Medium {
				margin-top: 5rem;
				height: $cellGroup-Height * 3 - 2rem - 4rem;
			}
			
			@include Large {
				margin-top: 1rem;
				height: $cellGroup-Height * 3 - 2rem;
			}

			@include XLarge {
				height: $cellGroup-Height * 6 - 2rem;
			}
			
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				
				left:   1rem;
				right: -1rem;
				
				height: 8rem;
				z-index: 3;
				background-image: linear-gradient( 180deg, $clear 0%, $black 100%);
				opacity: .15;
				@include Medium  { right: 1rem;  }
			}
			
			figure {
				position: absolute;
				box-sizing: border-box;
				
				border: 3.99999rem solid $black;
				@include XLarge  { border-width: 8rem;  }
				
				border-bottom-width: 0;
				border-right-width:  0;
				border-radius: 4rem 0 0 0;

				background-color: $white;
				top:    0;
				bottom: 0;
				left:   1rem;
				right: -1rem;

				z-index: 2;
				
				span{
					background: #fff;
					display: block;
					height: 100%;
					background-size: 100% auto;
					background-repeat: no-repeat;
				}
				
				&.tablet span { background-image: url("/_/img/tablet.png"); }
				&.phone  span { background-image: url("/_/img/phone.png" ); }
				
				img{ display: none; }
				
				&.phone {
					border: 2rem solid $black;
					border-bottom-width: 0;
					border-right-width:  0;
					width: 12rem;
					top: 12rem;
					left: auto;
					right: -1rem;
					background: #000;
					padding-top: 6rem;

				}	
				
				@include Medium {
					&.tablet{
						right: 1rem;
						border-right:  4rem solid $black;
						border-radius: 4rem 4rem 0 0;
						span{ background-size: 100% auto; }
					}
					
					&.phone{
						width: 24rem;
						border-right-width: 2rem;
						border-radius: 4rem 4rem 0 0;
						right: 1rem;
						span{ background-size: 100% auto; }
					}
				}
				@include XLarge {
					&.tablet {
						border-right-width:  8rem;
						border-bottom-width: 0;
						border-radius: 6rem 6rem 0 0;
					}
					&.phone {
						width: 48rem;
						border-width: 4rem;
						border-bottom-width: 0;
						top: 24rem;
						padding-top: 12rem;
						border-radius: 6rem 6rem 0 0;
					}
				}
			}
			
		}
		
/*
		&::after {
			content: "";
			position: relative;
			display: block;
			margin: 0 auto;
			box-sizing: border-box;

// 			background-image: url("/_/img/xl_devices.png");
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: center top;
			background-color: #fff;
			border: 4rem solid black;
			border-bottom: none;
			border-radius: 4rem 4rem 0 0;
			z-index: 2;
			@include Large  { width: 12.5% * 6;  }
			@include XLarge { width: 6.25% * 12; }
		}
*/
}