@import "compass/reset";
@import "compass/css3";

@import "global";
@import "grid";

/* Setup JS Hooks for Breakpoints */

html:before {
	display: none;
	content: "Tiny";
	@include Small           { content: "Small";           }
	@include Medium          { content: "Medium";          }
	@include Medium-Half     { content: "Medium-Half";     }
	@include Large           { content: "Large";           }
	@include Large-Qtr-First { content: "Large-Qtr-First"; }
	@include Large-Half      { content: "Large-Half";      }
	@include Large-Qtr-Last  { content: "Large-Qtr-Last";  }
	@include XLarge          { content: "XLarge";          }
}

/* Resets */

*[contenteditable]{ pointer-events: none; }

* {
	margin: 0;
	padding: 0;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
			    text-size-adjust: 100%;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}



/* Setup Default Units */

html { font-size: $u; }

/* General Layout Adjustments */

html{ height: 100%; }

body {
	min-height: 100%;
	text-align: center;
	padding: 0 $gutter-width-half;
	overflow-x: hidden;
	max-width: 100%;
	position: relative;
	box-sizing: border-box;
	padding-bottom: $footer-Height;
	margin: 0;
}

small,
small.legal { display: block; }

a{ text-decoration: none; }

body                   { color: $charcoalRegular; }
h1, h2, h3, h4, h5, h6 { color: $black;           }
main section a         { color: $purpleBrand;     }

/* Top Level Sections */

body {
	
	> main {
		overflow: hidden;
		margin-left:  -$gutter-width-half;
		margin-right: -$gutter-width-half;
		padding: 0 $gutter-width-half;
	}

	> *,
	> footer *,
	> header *,
	> main > header * { text-align: left;   }
	
	> header,
	> footer,
	> main > header { text-align: center; }

	> main   > header,
	> main   > section,
	> main   > figure,
	> header > nav,
	> footer > nav {
		margin: 0 auto;
		box-sizing: border-box;
		display: block;
	}
	
	> footer,
	> main > header,
	> main > section {
		padding-left:  $gutter-width-half;
		padding-right: $gutter-width-half;
	}

	> main   > section,
	> main   > figure,
	> main   > header,
	> header > nav,
	> footer > nav {
		@include Large           { width: $grid-column-width-l     *  6; }
		@include Large-Qtr-First { width: $grid-column-width-l-q-f *  8; }
		@include Large-Half      { width: $grid-column-width-l-h   * 10; }
		@include Large-Qtr-Last  { width: $grid-column-width-l-q-l * 10; }
		@include XLarge          { width: $grid-column-width-xl    * 12; }
	}
	
	a { color: $purpleBrand; }
	a:hover{ text-decoration: underline; }	
}

body > header { z-index: 100; }
body > main   { z-index: 0; }

@import "type";
@import "nav";
@import "sections";
@import "footer";
@import "hero-new";
@import "polyfill.object-fit.min";
// @import "hero";
// @import "hero-image";


/*
.purpleBrand      { background-color: $purpleBrand; }
.purpleBrandLight { background-color: #491b7d; }
.purpleBrandDark  { background-color: #b498d4; }


.yellow      { background-color: $yellow;      }
.tan         { background-color: $tan;         }
.orange      { background-color: $orange;      }
.red         { background-color: $red;         }
.redChalk    { background-color: $redChalk;    }
.magenta     { background-color: $magenta;     }
.purple      { background-color: $purple;      }
.purpleMist  { background-color: $purpleMist;  }
.blue        { background-color: $blue;        }
.blueMist    { background-color: $blueMist;    }
.teal        { background-color: $teal;        }
.cyan        { background-color: $cyan;        }
.green       { background-color: $green;       }
.apple       { background-color: $apple;       }
.lemon       { background-color: $lemon;       }
.silver      { background-color: $silver;      }
.none        { background-color: $none;        }
*/

/*
.greyLight1  { background-color: #f4f4f4; }
.greyLight2  { background-color: #ebebeb; }
.greyLight3  { background-color: #dddddd; }
.greyLight4  { background-color: #cccccc; }
.grey        { background-color: #999999; }
.greyMedium  { background-color: #666666; }
.greyDark1   { background-color: #333333; }
.greyDark2   { background-color: #222222; }

.greyLight1,
.greyLight2,
.greyLight3,
.greyLight4{
	p > small{
		color: #000;
	}
}
*/

/*




@import "footer";
@import "education-prototype";
*/