// Unused
// @import "compass/css3";

// Development Only
//@import "grid";

@import "compass/reset";
@import "global";

/* JavaScript Hooks for Detecting Breakpoints */

html:before {
	display: none;
	content: "Tiny";
	@include Small           { content: "Small";           }
	@include Medium          { content: "Medium";          }
	@include Medium-Half     { content: "Medium-Half";     }
	@include Large           { content: "Large";           }
	@include Large-Qtr-First { content: "Large-Qtr-First"; }
	@include Large-Half      { content: "Large-Half";      }
	@include Large-Qtr-Last  { content: "Large-Qtr-Last";  }
	@include XLarge          { content: "XLarge";          }
}

/* Resets */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@include font-smoothing(off);

	// http://jrdn.io/ffPH
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga", "kern";
	font-feature-settings: "kern";
	font-kerning: normal;
	
	-webkit-text-size-adjust: 100%;
	   -moz-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
			    text-size-adjust: 100%;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
   -khtml-user-select: none;   /* Konqueror */
     -moz-user-select: none;   /* Firefox */
      -ms-user-select: none;   /* IE/Edge */
          user-select: none;   /* non-prefixed version, currently not supported by any browser */
}

/* MS Scrollbar helper */

html { -ms-overflow-style: -ms-autohiding-scrollbar; }

/* Setup Default Units */

html { font-size: $u; }

/* General Layout Adjustments */

html{ height: 100%; }

body {
	min-height: 100%;
	text-align: center;
	padding: 0 $gutter-width-half;
	overflow-x: hidden;
	max-width: 100%;
	position: relative;
	box-sizing: border-box;
	margin: 0;
}

small, small.legal { display: block; }

a, a:hover { text-decoration: none !important; }

/* Basic Color Settings */

body                   { color: $charcoalRegular; }
h1, h2, h3, h4, h5, h6 { color: $black;           }
main section a         { color: $purpleBrand;     }
main section a:hover   { color: $charcoalLight;   }

/* Top Level Sections */

body {
	
	> main {
		overflow: hidden;
		margin-left:  -$gutter-width-half;
		margin-right: -$gutter-width-half;
		padding: 0     $gutter-width-half;
	}

	> *,
	> footer *,
	> header *,
	> main > header * { text-align: left;   }
	
	> header,
	> footer,
	> main > header { text-align: center; }

	> main   > header,
	> main   > section,
	> main   > figure,
	> header > nav,
	> footer > nav {
		margin: 0 auto;
		box-sizing: border-box;
		display: block;
	}
	
	> footer,
	> main > header,
	> main > section {
		padding-left:  $gutter-width-half;
		padding-right: $gutter-width-half;
	}

	> main   > section,
	> main   > figure,
	> main   > header,
	> header > nav,
	> footer > nav {
		@include Large           { width: $grid-column-width-l     *  6; }
		@include Large-Qtr-First { width: $grid-column-width-l-q-f *  8; }
		@include Large-Half      { width: $grid-column-width-l-h   * 10; }
		@include Large-Qtr-Last  { width: $grid-column-width-l-q-l * 10; }
		@include XLarge          { width: $grid-column-width-xl    * 12; }
	}
	a { color: $purpleBrand; }
}

body > header { z-index: 100; }
body > main   { z-index: 0;   }

@import "type";
@import "nav";
@import "sections";
@import "footer";
@import "hero";
@import "polyfill.object-fit.min"; /* Fix - remove this */
@import "alert";
