@charset "UTF-8";
/*
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
*/
/*
@function cellGroup($number) {
	
	$value
	
}
*/
/*
.greyLight1  { background-color: #f4f4f4; }
.greyLight2  { background-color: #ebebeb; }
.greyLight3  { background-color: #dddddd; }
.greyLight4  { background-color: #cccccc; }
.grey        { background-color: #999999; }
.greyMedium  { background-color: #666666; }
.greyDark1   { background-color: #333333; }
.greyDark2   { background-color: #222222; }
*/
/* TO DOs
 * type.scss - Fix - Add in weight classes to font-face declarations
*/
/* Base Units */
/* Column Widths */
/* Cell Measurements */
/* General UI ELEMENTs */
/* line 4, ../sass/nav.scss */
body > .nav-helper {
  height: 6rem;
  max-height: 6rem;
  background: #71309E;
  padding: 0 1rem;
  box-sizing: content-box;
  width: 100%;
  margin-left: -1rem;
}
/* line 14, ../sass/nav.scss */
body > nav {
  position: relative;
  padding-top: 1rem;
  z-index: 2;
  height: 6rem;
  max-height: 6rem;
  margin-bottom: -6rem;
}
/* line 22, ../sass/nav.scss */
body > nav::before {
  content: "";
  background: #71309E;
  position: absolute;
  bottom: 0;
  top: 0;
  left: -2rem;
  right: -1rem;
  z-index: -1;
}
/* line 34, ../sass/nav.scss */
body > nav h1 a {
  display: none;
}
/* line 36, ../sass/nav.scss */
body > nav svg {
  display: block;
  height: 4rem;
  width: 4rem;
  text-align: left;
}
/* line 43, ../sass/nav.scss */
body > nav a {
  top: -1rem;
  right: -1rem;
  position: absolute;
  padding: 2.5rem 2rem;
  color: #fff;
}
@media only screen and (min-width: 1232px) {
  /* line 43, ../sass/nav.scss */
  body > nav a {
    font-size: 2.25rem !important;
  }
}

/* line 60, ../sass/nav.scss */
body.education > nav svg,
body.education-v2 > nav svg {
  display: block;
  height: 3rem;
  width: 28rem;
  margin-top: 1rem;
}
/* line 65, ../sass/nav.scss */
body.education > nav svg.education,
body.education-v2 > nav svg.education {
  width: 13rem;
  height: 2rem;
}
/* line 71, ../sass/nav.scss */
body.education > nav ul,
body.education-v2 > nav ul {
  position: absolute;
  right: -1rem;
  top: 1.9rem;
}
/* line 76, ../sass/nav.scss */
body.education > nav ul li,
body.education-v2 > nav ul li {
  display: inline-block;
}
/* line 79, ../sass/nav.scss */
body.education > nav ul li a,
body.education-v2 > nav ul li a {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  padding: 0 2rem;
  text-decoration: none;
}
/* line 88, ../sass/nav.scss */
body.education > nav ul li a:hover,
body.education-v2 > nav ul li a:hover {
  opacity: .5;
}
/* line 96, ../sass/nav.scss */
body.education.setup > nav ul, body.education.create > nav ul,
body.education-v2.setup > nav ul,
body.education-v2.create > nav ul {
  top: 1.25rem;
}

/* line 102, ../sass/nav.scss */
body.education-v2.home > nav {
  padding-top: .5rem;
}
/* line 105, ../sass/nav.scss */
body.education-v2.home > nav::before {
  background: transparent;
}
/* line 107, ../sass/nav.scss */
body.education-v2.home > nav svg {
  outline: 1px solid red;
}
/* line 109, ../sass/nav.scss */
body.education-v2.home > nav ul > li a {
  color: #666;
}
/* line 111, ../sass/nav.scss */
body.education-v2.home > nav > ul {
  top: 1.5rem;
  outline: 1px solid red;
  right: auto;
  left: 50%;
  margin-left: -1rem;
}
/* line 117, ../sass/nav.scss */
body.education-v2.home > nav > ul li {
  outline: 1px solid green;
}
/* line 122, ../sass/nav.scss */
body.education-v2.home #Divider, body.education-v2.home #Microsoft, body.education-v2.home #Education {
  fill: #666666;
}

/*
body.education-v2.home {
	&::before{
		background: transparent !important;
		display: none;
	}
	ul > li a{
		color: #666;
	}
}
*/
