@charset "UTF-8";
/*
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
*/
/*
@function cellGroup($number) {
	
	$value
	
}
*/
/*
.greyLight1  { background-color: #f4f4f4; }
.greyLight2  { background-color: #ebebeb; }
.greyLight3  { background-color: #dddddd; }
.greyLight4  { background-color: #cccccc; }
.grey        { background-color: #999999; }
.greyMedium  { background-color: #666666; }
.greyDark1   { background-color: #333333; }
.greyDark2   { background-color: #222222; }
*/
/* TO DOs
 * type.scss - Fix - Add in weight classes to font-face declarations
*/
/* Base Units */
/* Column Widths */
/* Cell Measurements */
/* General UI ELEMENTs */
/******************************************************************************/
/* Font Faces */
/*
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 700;
  src: local('Segoe UI Bold'), local('SegoeUI-bold'), local('segoeuib');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 600;
  src: local('Segoe UI Semibold'), local('SegoeUI-Semibold');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe UI'), local('SegoeUI');
}
@font-face {
  font-family: 'Myname';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe UI Light'), local('SegoeUI-Light');
}
*/
/* Fix - Add in weight classes to font-face declarations */
@font-face {
  font-family: 'Segoe UI';
  src: url("/_/font/segoeui.ttf") format("truetype");
}
@font-face {
  font-family: 'Segoe UI Semilight';
  src: url("/_/font/segoeuisl.ttf") format("truetype");
}
/******************************************************************************/
/* Type Sizing */
/* Headline */
/* Subhead */
/* Subhead Small */
/* Body Small */
/* Body */
/* !! For some reason using a value here of $_14 messed things up */
/* Legal */
/******************************************************************************/
/* Font Size Settings  */
/******************************************************************************/
/* Type Defaults */
/******************************************************************************/
/* DEFAULTS */
/* Base Backup */
/* line 148, ../sass/type.scss */
body {
  font: 400 2.25rem / 1.3333333333 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif;
}
/* line 148, ../sass/type.scss */
body * {
  font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
}

/* line 150, ../sass/type.scss */
h1 {
  font: 200 4.25rem / 1.1764705882 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
}
/* line 150, ../sass/type.scss */
h1 * {
  font: inherit       !important;
}

/* line 151, ../sass/type.scss */
h2 {
  font: 200 3.25rem / 1.2307692308 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
}
/* line 151, ../sass/type.scss */
h2 * {
  font: inherit       !important;
}

/* line 152, ../sass/type.scss */
h3 {
  font: 400 2rem / 1.5 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
}
/* line 152, ../sass/type.scss */
h3 * {
  font: inherit       !important;
}

/* line 153, ../sass/type.scss */
h4 {
  font: 400 2.25rem / 1.3333333333 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
}
/* line 153, ../sass/type.scss */
h4 * {
  font: inherit       !important;
}

/* line 155, ../sass/type.scss */
p {
  font: 400 2.25rem / 1.3333333333 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
}
/* line 155, ../sass/type.scss */
p * {
  font: inherit       !important;
}

/* line 156, ../sass/type.scss */
p > small {
  font: 400 2rem / 1.5 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
}
/* line 156, ../sass/type.scss */
p > small * {
  font: inherit       !important;
}

/* line 158, ../sass/type.scss */
small,
small.legal {
  font: 400 1.5rem / 1.3333333333 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
}
/* line 159, ../sass/type.scss */
small *,
small.legal * {
  font: inherit       !important;
}

@media only screen and (min-width: 624px) {
  /* line 163, ../sass/type.scss */
  body {
    font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif;
  }
  /* line 163, ../sass/type.scss */
  body * {
    font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }

  /* line 165, ../sass/type.scss */
  h1 {
    font: 200 5.25rem / 1.1428571429 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 165, ../sass/type.scss */
  h1 * {
    font: inherit       !important;
  }

  /* line 166, ../sass/type.scss */
  h2 {
    font: 200 4rem / 1.25 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 166, ../sass/type.scss */
  h2 * {
    font: inherit       !important;
  }

  /* line 167, ../sass/type.scss */
  h3 {
    font: 400 2rem / 1.5 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 167, ../sass/type.scss */
  h3 * {
    font: inherit       !important;
  }

  /* line 168, ../sass/type.scss */
  h4 {
    font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 168, ../sass/type.scss */
  h4 * {
    font: inherit       !important;
  }

  /* line 170, ../sass/type.scss */
  p {
    font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 170, ../sass/type.scss */
  p * {
    font: inherit       !important;
  }

  /* line 171, ../sass/type.scss */
  p > small {
    font: 400 2rem / 1.5 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 171, ../sass/type.scss */
  p > small * {
    font: inherit       !important;
  }

  /* line 173, ../sass/type.scss */
  small,
  small.legal {
    font: 400 1.5rem / 1.3333333333 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 174, ../sass/type.scss */
  small *,
  small.legal * {
    font: inherit       !important;
  }
}
@media only screen and (min-width: 1232px) {
  /* line 178, ../sass/type.scss */
  body {
    font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif;
  }
  /* line 178, ../sass/type.scss */
  body * {
    font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }

  /* line 180, ../sass/type.scss */
  h1 {
    font: 200 5.25rem / 1.1428571429 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 180, ../sass/type.scss */
  h1 * {
    font: inherit       !important;
  }

  /* line 181, ../sass/type.scss */
  h2 {
    font: 200 4.25rem / 1.1764705882 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 181, ../sass/type.scss */
  h2 * {
    font: inherit       !important;
  }

  /* line 182, ../sass/type.scss */
  h3 {
    font: 400 2rem / 1.5 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 182, ../sass/type.scss */
  h3 * {
    font: inherit       !important;
  }

  /* line 183, ../sass/type.scss */
  h4 {
    font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 183, ../sass/type.scss */
  h4 * {
    font: inherit       !important;
  }

  /* line 185, ../sass/type.scss */
  p {
    font: 200 2.25rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 185, ../sass/type.scss */
  p * {
    font: inherit       !important;
  }

  /* line 186, ../sass/type.scss */
  p > small {
    font: 400 2rem / 1.5 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 186, ../sass/type.scss */
  p > small * {
    font: inherit       !important;
  }

  /* line 188, ../sass/type.scss */
  small,
  small.legal {
    font: 400 1.5rem / 1.3333333333 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 189, ../sass/type.scss */
  small *,
  small.legal * {
    font: inherit       !important;
  }
}
@media only screen and (min-width: 2448px) {
  /* line 193, ../sass/type.scss */
  body {
    font: 200 3.5rem/5rem "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif;
  }
  /* line 193, ../sass/type.scss */
  body * {
    font: 200 3.5rem/5rem "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }

  /* line 195, ../sass/type.scss */
  h1 {
    font: 200 8rem / 1.25 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 195, ../sass/type.scss */
  h1 * {
    font: inherit       !important;
  }

  /* line 196, ../sass/type.scss */
  h2 {
    font: 200 7rem / 1.1428571429 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 196, ../sass/type.scss */
  h2 * {
    font: inherit       !important;
  }

  /* line 197, ../sass/type.scss */
  h3 {
    font: 200 3rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 197, ../sass/type.scss */
  h3 * {
    font: inherit       !important;
  }

  /* line 198, ../sass/type.scss */
  h4 {
    font: 200 3.5rem/5rem "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 198, ../sass/type.scss */
  h4 * {
    font: inherit       !important;
  }

  /* line 200, ../sass/type.scss */
  p {
    font: 200 3.5rem/5rem "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 200, ../sass/type.scss */
  p * {
    font: inherit       !important;
  }

  /* line 201, ../sass/type.scss */
  p > small {
    font: 200 3rem / 1.3333333333 "Segoe UI Semilight", "Segoe UI Light", "Segoe WP Light", "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 201, ../sass/type.scss */
  p > small * {
    font: inherit       !important;
  }

  /* line 203, ../sass/type.scss */
  small,
  small.legal {
    font: 400 2rem / 1.5 "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", -apple-system, Roboto, Helvetica, sans-serif !important;
  }
  /* line 204, ../sass/type.scss */
  small *,
  small.legal * {
    font: inherit       !important;
  }
}
/* line 209, ../sass/type.scss */
h4 {
  color: #000;
}

/* line 211, ../sass/type.scss */
body *.monospace,
body *.monospace * {
  font-family: monospace !important;
}

/* line 4, ../sass/sections.scss */
body > section {
  display: block;
  position: relative;
  text-align: left;
  padding-top: 8rem;
  /* Fix - Tie these to some patterns / values */
}
@media only screen and (min-width: 1840px) {
  /* line 4, ../sass/sections.scss */
  body > section {
    padding-top: 20rem;
  }
}
@media only screen and (min-width: 1232px) {
  /* line 4, ../sass/sections.scss */
  body > section {
    min-height: 48rem;
  }
}
@media only screen and (min-width: 1536px) {
  /* line 4, ../sass/sections.scss */
  body > section {
    min-height: 64rem;
  }
}
@media only screen and (min-width: 1840px) {
  /* line 4, ../sass/sections.scss */
  body > section {
    min-height: 72rem;
  }
}
@media only screen and (min-width: 2144px) {
  /* line 4, ../sass/sections.scss */
  body > section {
    min-height: 88rem;
  }
}
@media only screen and (min-width: 2448px) {
  /* line 4, ../sass/sections.scss */
  body > section {
    min-height: 104rem;
  }
}
/* line 23, ../sass/sections.scss */
body > section p, body > section small, body > section h1, body > section h2, body > section h3, body > section h4, body > section h5, body > section h6, body > section header, body > section ul, body > section ol {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 30, ../sass/sections.scss */
body > section p strong > a {
  display: inline-block;
}
/* line 33, ../sass/sections.scss */
body > section::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -1rem;
  right: -1rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  z-index: 3;
  height: 1px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 33, ../sass/sections.scss */
  body > section::before {
    height: .5px;
  }
}
@media only screen and (min-width: 1232px) {
  /* line 33, ../sass/sections.scss */
  body > section::before {
    left: 1rem;
    right: 1rem;
  }
}
/* line 46, ../sass/sections.scss */
body > section > p,
body > section > header {
  padding-right: 8rem;
}
@media only screen and (min-width: 928px) {
  /* line 46, ../sass/sections.scss */
  body > section > p,
  body > section > header {
    width: 50.0%;
  }
}
@media only screen and (min-width: 1232px) {
  /* line 46, ../sass/sections.scss */
  body > section > p,
  body > section > header {
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 2144px) {
  /* line 46, ../sass/sections.scss */
  body > section > p,
  body > section > header {
    padding-right: 10%;
  }
}
/* line 54, ../sass/sections.scss */
body > section > header {
  margin-top: -1rem;
  padding-bottom: 3rem;
}
@media only screen and (min-width: 2448px) {
  /* line 54, ../sass/sections.scss */
  body > section > header {
    margin-top: -1.5rem;
    padding-bottom: 7.5rem;
  }
}
@media only screen and (min-width: 1232px) {
  /* line 66, ../sass/sections.scss */
  body > section > header h1 {
    position: relative;
    top: -2px;
  }
}
@media only screen and (min-width: 624px) {
  /* line 74, ../sass/sections.scss */
  body > section > header h2 {
    position: relative;
    top: -2px;
  }
}
/* line 83, ../sass/sections.scss */
body > section h4 {
  margin-top: -0.75rem;
  padding-bottom: 0.75rem;
}
/* line 91, ../sass/sections.scss */
body > section > p,
body > section > ul > li > p {
  margin-top: -0.75rem;
  padding-bottom: 2.75rem;
}
@media only screen and (min-width: 2448px) {
  /* line 91, ../sass/sections.scss */
  body > section > p,
  body > section > ul > li > p {
    margin-top: -1.25rem;
    padding-bottom: 7.25rem;
  }
}
/* line 105, ../sass/sections.scss */
body > section > p:last-of-type,
body > section > ul > li > p:last-of-type {
  padding-bottom: 3.75rem;
}
/* line 107, ../sass/sections.scss */
body > section > p > strong a,
body > section > ul > li > p > strong a {
  position: relative;
}
/* line 109, ../sass/sections.scss */
body > section > p > strong a::after,
body > section > ul > li > p > strong a::after {
  content: " >";
}
/* line 110, ../sass/sections.scss */
body > section > p > strong a::before,
body > section > ul > li > p > strong a::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  bottom: -1rem;
}
/* line 121, ../sass/sections.scss */
body > section > figure {
  position: relative;
  box-sizing: content-box;
  margin: 0 -2rem;
  overflow: hidden;
  padding: 0;
}
@media only screen and (min-width: 928px) {
  /* line 121, ../sass/sections.scss */
  body > section > figure {
    width: 50%;
  }
}
@media only screen and (min-width: 1232px) {
  /* line 121, ../sass/sections.scss */
  body > section > figure {
    width: 66.666666667%;
  }
}
@media only screen and (min-width: 1536px) {
  /* line 121, ../sass/sections.scss */
  body > section > figure {
    width: 62.5%;
  }
}
@media only screen and (min-width: 1840px) {
  /* line 121, ../sass/sections.scss */
  body > section > figure {
    width: 60%;
  }
}
@media only screen and (min-width: 2144px) {
  /* line 121, ../sass/sections.scss */
  body > section > figure {
    width: 70%;
  }
}
@media only screen and (min-width: 2448px) {
  /* line 121, ../sass/sections.scss */
  body > section > figure {
    width: 66.6666666666%;
  }
}
@media only screen and (min-width: 928px) {
  /* line 121, ../sass/sections.scss */
  body > section > figure {
    position: absolute;
    top: 0rem;
    bottom: 1rem;
    right: -1rem;
    margin: 0;
    padding: 0 1rem 0 1rem;
  }
}
@media only screen and (min-width: 1232px) {
  /* line 121, ../sass/sections.scss */
  body > section > figure {
    left: 50%;
    right: 0;
    padding: 0 1rem 0 0;
  }
}
/* line 160, ../sass/sections.scss */
body > section > figure::before {
  content: "";
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 69%;
}
/* line 168, ../sass/sections.scss */
body > section > figure::after {
  display: block;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
  /*
  			background-color: $cyan;
  			
  			@include Medium-Half     { background-color: $redChalk; }
  			@include Large           { background-color: $blueMist; }
  			@include Large-Qtr-First { background-color: $apple;    }
  			@include Large-Half      { background-color: $yellow;   }
  			@include Large-Qtr-Last  { background-color: $orange;   }
  			@include XLarge          { background-color: $lemon;    }
  */
}
@media only screen and (min-width: 1232px) {
  /* line 168, ../sass/sections.scss */
  body > section > figure::after {
    left: 1rem;
  }
}
/* line 187, ../sass/sections.scss */
body > section > figure.State-SizeCheck {
  height: auto !important;
}
/* line 189, ../sass/sections.scss */
body > section > figure img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  object-fit: cover;
  mix-blend-mode: multiply;
}
@media only screen and (min-width: 1232px) {
  /* line 189, ../sass/sections.scss */
  body > section > figure img {
    left: 1rem;
  }
}
/* line 204, ../sass/sections.scss */
body > section ul.columns-thirds {
  font-size: 0 !important;
  padding-right: 4rem;
}
/* line 210, ../sass/sections.scss */
body > section ul.columns-thirds li {
  display: inline-block;
  width: 33.333333333%;
}
/* line 214, ../sass/sections.scss */
body > section ul.columns-thirds li + li {
  margin: 0 -2rem 0 2rem;
}
/* line 215, ../sass/sections.scss */
body > section ul.columns-thirds li + li + li {
  margin: 0 -4rem 0 4rem;
}
